<h1>Seja Bem-vindo!</h1>
<p>Este é o seu portfólio de criptomoedas.</p>

<p> Seu nome de tras pra frente é <%= 'Demerson'.reverse %> </p>

<p>A data de hoje é: <%= Date.today%></p>

<% a = '110% macho'%>
<p> Você é: <%= a %> </p>